<!--Title-->
<mat-form-field class="title" appearance="fill">
  <mat-label>Titre</mat-label>
  <input matInput placeholder="Ajouter votre titre de note" [(ngModel)]="note.titre">
</mat-form-field>

<!--Body-->
<mat-form-field class="body" appearance="fill">
  <mat-label>Note</mat-label>
  <textarea matInput placeholder="Description de la note" [(ngModel)]="note.body">{{note.body}}</textarea>
</mat-form-field>

<!--
<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
  {{fileName || "No file uploaded yet."}}

  <button mat-icon-button color="secondary" class="upload-btn"
          (click)="removeFile()">
    <mat-icon *ngIf="fileName">close</mat-icon>
  </button>

</div>
-->


<div class="center">
  <!--Reset-->
  <button mat-raised-button color="warn" (click)="reset()">Reset</button>
  <!--Save-->
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
