/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.wrapContent{
  overflow-wrap: break-word;
  max-height: 100px;
}

.flex-100{
  width: 100%;
}

.area{
  height: 100px;
  width: 100%;
}

.chrome-ext-size {
  width: 500px;
  overflow-y: auto;
}

.wrapContent {
  overflow: auto;
  height: 40px;
}

.flex-container-end{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
