<nav>
  <mat-toolbar color="primary">
    <span [routerLink]="['/app']"><mat-icon>arrow_back_ios</mat-icon></span>
  </mat-toolbar>
</nav>


<div class="flex-container-end">
  <mat-icon class="top-left" *ngIf="edit" (click)="saveNote()">save</mat-icon>
  <mat-icon class="top-left" (click)="editNote()">edit</mat-icon>
</div>


<mat-list>
  <mat-list-item *ngIf="note.titre">
    <label>Titre : </label>
    <div class="content">{{note.titre}}</div>
  </mat-list-item>
  <mat-list-item *ngIf="note.status">
    <label>Status : </label>
    <div class="content">{{note.status}} </div>
  </mat-list-item>
<!--  <mat-list-item *ngIf="note.document">
    <label>Document : </label>
    <img [src]="srcDocument()">
  </mat-list-item>-->
  <mat-list-item *ngIf="note.createDate" >
    <label>Date de création : </label>
    <div class="content">{{note.createDate |  date:'dd/M/yyyy, h:mm a'}}</div>
  </mat-list-item>
</mat-list>


<mat-form-field class="flex-100 body" appearance="fill">
  <mat-label>Note</mat-label>
  <textarea matInput class="area" [disabled]="!edit" [(ngModel)]="note.body">{{note.body}}</textarea>

</mat-form-field>


